# Tools
.idea/
/playwright-report
/playwright-screenshots
/test-results

# App
__pycache__/
*.tsbuildinfo
dist/
.venv/
.ruff_cache/

# Language package managers
.python-version
.nvmrc
node_modules/

# Local
Zap.code-workspace
README.Local.md

# Sentry Config File
.env.sentry-build-plugin

# Secrets
.env
