# Tools
.idea/
/playwright-report
/playwright-screenshots

# App
__pycache__/
*.tsbuildinfo
node_modules/
dist/
scripts/extent-map-backend/.python-version
scripts/extent-map-backend/.venv/
scripts/extent-map-backend/.ruff_cache/

# Local
notes.md
README.Local.md

# Sentry Config File
.env.sentry-build-plugin
