# Tools
.idea/
/playwright-report
/playwright-screenshots

# App
__pycache__/
*.tsbuildinfo
node_modules/
dist/
extent-map/.python-version
extent-map/.venv/
extent-map/.ruff_cache/

# Local
notes.md
README.Local.md

# Sentry Config File
.env.sentry-build-plugin
