# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
      args: ["--maxkb=600"]
    - id: check-case-conflict
    - id: check-yaml
    - id: check-toml  # for pyproject.toml
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
    - id: ruff-check
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.0
  hooks:
    - id: uv-lock
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.35
  hooks:
      - id: pymarkdown
